<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css" />
    <title>ROVolunteers</title>
    <header>
        <img class="logo" src="image" alt="logo">
        <nav class="bar">
            <ul class="nav__links">
                <li class="ca"><a href="#">Servicii</a></li>
                <li class="ca"><a href="#">Proiecte</a></li>
                <li class="ca"><a href="#">Informatii</a></li>
            </ul>
        </nav>
        <a class="cta" href="#"><button class="ctaa">Contact</button></a>
    </header>
</head>
<body>
    <a href="LINK GOES HERE" target="_blank" style="width:100%;display:block;text-align:center;padding:.5em;background-color:#0073e2;color:#fff;border-radius:4px;box-shadow:0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);text-decoration:none">Click here</a>
    <a class="blea" href="https://www.w3schools.com/css/tryit.asp?filename=trycss_cursor">oho</a>
</body>
</html>